body {
  background-color: #8e8e8e;
  overflow-x: hidden;
  width: 100%;
  height:100%;
  font-size: 2REM;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  margin-left: auto;
  margin-right: auto;
  color: #2a7ae2;
}

a:visited {
  color: #1756a9;
}

.box {
  background-color: #b6b6b6;
  width: 46%;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  display:flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
